@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent;
  }

  .logo-ticker {
    @apply h-8 w-auto;
  }

  .tag {
    @apply text-sm inline-flex border border-[#FFFFFF]/10 px-3 py-1 rounded-lg tracking-tight text-red-600;
  }

  .section-title {
    @apply text-center text-3xl md:text-[50px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-t from-gray-300 to-[#aa020a] text-transparent bg-clip-text;
  }

  .section-description {
    @apply text-center text-[20px] leading-[30px] tracking-tight text-[#ffffff];
  }

  .section-heading {
    @apply max-w-[540px] mx-auto;
  }

  .card {
    @apply p-10 border border-[#E53935]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full bg-[#333333];
  }

  input {
    @apply text-white px-3 py-2 bg-[#171717] border-gray-400 border rounded-xl;
  }
}
